:root{
    --branco-fonte: #EDE7E7 ;
    --rosa-base: #FC0147 ;
    --roxo-base: #52088C ;
    --amarelo-base: #F8B10A ;
    --azulclaro-base: #54ACD2 ;
    --roxoescuro-contraste: #39245F;
    
}

header{
    position: relative;
    background-color: #52088D;
}


#logo{
    width: 50px;
    height: 34px;
    margin-left: 59px;
    
}
#logo_name{
    color: var(--branco-fonte);
    padding-left: 20px;
    font-size: 20px;
    font-family: 'Reem Kufi Fun', sans-serif;
}


nav{
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

a{
    color: var(--branco-fonte);
    font-size: 20px;
    font-family: 'Reem Kufi Fun', sans-serif;
    text-decoration: none;
    padding-right: 90px;

}

#btn_download{
    background-color: var(--rosa-base);
    margin-right: 50px;
    border-radius: 8px;
    padding: 20px;
}

body{
    background-color: var(--roxoescuro-contraste);
}