:root{
    --branco-fonte: #EDE7E7 ;
    --rosa-base: #FC0147 ;
    --roxo-base: #52088C ;
    --amarelo-base: #F8B10A ;
    --azulclaro-base: #54ACD2 ;
    --roxoescuro-contraste: #39245F;
    
}

.navbar{
    background-color: var(--roxo-base);
    width: 100%;
    height: 111px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
}

.logo{
    font-family: 'Reem Kufi Fun', sans-serif;
    color: var(--branco-fonte);
    font-size: 30px;

}

.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul li{
    padding: 0px 38px;
}

.navbar ul li a{
    color: var(--branco-fonte);
    text-decoration: none;
    font-family: 'Reem Kufi Fun', sans-serif;
    font-size: 18px;
}

#btn_download{
    padding: 10px 30px;
    background-color: var(--rosa-base);
    border-radius: 8px;
}

.banner #subtitulo{
    color: #EDE7E7;
    font-family: Reem Kufi Fun;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.banner #titulo{
    color: var(--amarelo-base, #F8B10A);
    text-shadow: 9px 11px 11px #39245F;
    font-family: 'Passion One', helvetica;
    font-size: 130px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.banner #resumo{
    color: #EDE7E7;
    font-family: Reem Kufi Fun;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 133.5%; /* 33.375px */
}
.avatar{
    width: 786px;
    height: 1258px;
}


#projetos-background{
    fill: url(<path-to-image>), lightgray -337.628px -406.856px / 135.257% 267.121% no-repeat;
    width: 1445px;
    height: 1093.455px;
    flex-shrink: 0;
}

.banner{
    background-color: var(--roxoescuro-contraste);
}

.skills{
    background-color: var(--azulclaro-base);
}

.projetos{
    background-image: url('images/nosaku 2.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 1093.455px;
}